.x-tab-focus.x-tab-default {
	outline: none;
}

.x-tab-focus.x-tab-navigation {
  border-color: transparent;
  background-color: transparent;
  outline: none !important;
  outline-offset: -3px;
}