/* CSS rules applied globally */

/*Loading Mask styles*/
#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: #292c2f;
}

/* if positioning doesn't work uncomment/comment
   the respective css attributes
 */
#loading {
  position: absolute;
  left:     45.4%;
  top:      51.5%;
  //left:     50%;
  //top:      50%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   -32px 0 0 -32px;
  //margin:   -18px 0 0 -120px;
}

#loading .loading-indicator {
  background: url(../../../../../resources/images_general/loading-32x32.gif) no-repeat;
  color:      #f7fbf5;
  font:       bold 13px tahoma,arial,helvetica;
  padding:    7px 40px;
  margin:     0;
  text-align: center;
  height:     auto;
}
/*Lading Mask styles - END*/

/* Highlight css */
.nnee {
  background-color: #93a8e5 !important;
}
/* Highlight css - END */

/* Disable Highlight */
.nndd {
  background-color: transparent !important;
}
/* Disable Highlight - END */

/* Remove search grid line on focus */
.x-grid-item-focused .x-grid-cell-inner::before {
  border: 0px !important;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
/* Remove search grid line on focus - END */

/* Search result count */
.grid-results-count {
  margin-right: 0px !important;
  font-size: 12px;
  font-weight: bold;
  color: #333 !important;
  display: block !important;
  text-align: left !important;
  float: left !important;
  white-space: nowrap !important;
}
.grid-results-num {
  font-size: 12px;
  font-weight: bold;
  color: red !important;
  display: block !important;
  text-align: left !important;
  float: left !important;
  white-space: nowrap !important;
}
/* Search result count - END */

/* Search results toolbar */
//#searchresulttoolbar.x-panel-default-outer-border-trl {
//  border-bottom-width: 1px !important;
//  border-bottom-color: #5fa2dd !important;
//}
/* Search results toolbar - END */

/* Apofaseis count text button */
#apofaseiscounttext.x-btn-disabled.x-btn-default-toolbar-small {
  opacity: 1 !important;
}
/* Apofaseis count text button - END */

/* SEARCH HISTORY CLASSES */
.storedqueries-combo-item {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #5c5c5c;
  font-size: 12px;
  background: #FFF;
  margin: 1px -2px;
  padding: 2px;
  word-break: break-all !important;
  text-overflow: clip !important;
}
.storedqueries-combo-row {
  background-color: #edf2f7;
}
/* SEARCH HISTORY CLASSES - END */

/* REMOVES OUTLINE FROM DATAVIEW [RECENT APOFASEIS] */
.dikastirio-wrap {
  margin-bottom: 20px !important;
}
.dikastirio-wrap.x-view-item-focused {
  outline: 0 !important;
  outline-offset: -1px;
}
/* REMOVES OUTLINE FROM DATAVIEW [RECENT APOFASEIS] - END */

/* CUSTOM LOADING MASK STYLE (APPLIED GLOBALLY) */
.x-mask{
  z-index: 9999;
  //position: absolute;
  //top: 0;
  //left: 0;
  //opacity: 0.7;
  //filter: alpha(opacity=70);
  //width: 100%;
  //height: 100%;
  //zoom: 1;
  //background-repeat: repeat;
  //background: transparent !important;
  //background-image: url(../../../../../resources/images_general/loading-mask-bg.png) !important;
}

.x-mask-msg {
  z-index: 20001 !important;
}

/*.x-mask {
    filter: alpha(opacity=70);
    opacity: 0.7;
    background: transparent !important;
    background-image: url(images/app-specific/loading-mask-bg.png) !important;
}*/
/* END */

/* Logout mask */
#logout-mask {
  background-color: #292c2f !important;
}

#logout-mask-msgWrapEl {
  background: transparent !important;
  //background: url(../../../../../resources/images_general/loading-32x32.gif) no-repeat;
  //padding:    7px 40px;
  //margin:     0;
  //text-align: center;
  //height:     auto;
}
#logout-mask-msgEl {
  color:      #f7fbf5 !important;
  font:       bold 13px tahoma,arial,helvetica !important;
}

#logout-mask-msgTextEl {
  background: url(../../../../../resources/images_general/loading-32x32.gif) no-repeat !important;
  color:      #f7fbf5 !important;
  font:       bold 13px tahoma,arial,helvetica !important;
  padding:    7px 40px !important;
  margin:     0 !important;
  text-align: center !important;
  height:     auto !important;
}

/* Logout mask -END */