#search-btn.x-btn-focus.x-btn-default-small {
      background-image: none;
      background-color: #5fa2dd;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
}

#adv-search-btn.x-btn-focus.x-btn-default-small {
    background-image: none;
    background-color: #5fa2dd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#clear-btn.x-btn-focus.x-btn-default-small {
    background-image: none;
    background-color: #5fa2dd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}